body {
  font-family: helvetica;
  font-size: 16px;
  line-height: 24px;
  color: #333;
}

.ancho {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  border: 1px black solid;
}

.btn_rojo {
  background-color: #800000;
  color: white;
  padding: 10px 30px;
  border: 0;
  border-radius: 5px;
  /* cursor: pointer; */
}
.btn_rojo:hover {
  background-color: #333;
}

h1 {
  background-color: #ccc;
  text-align: center;
  padding: 10px;
  max-width: 900px;
  line-height: 40px;
  border-radius: 10px;
  margin: auto;
}

.elementoformulario {
  padding: 10px;
  border-radius: 5px;
  width: 500px;
  border: 1px #666666 solid;
}

form {
  padding: 10px;
}

span {
  padding: 5px 10px;
}